.has-fade {
	visibility: hidden;
}
.has-fade-db {
	visibility: hidden;
}
.fade-in {
	animation: fade-in 300ms ease-in-out forwards;
	opacity: 1;
}
@keyframes fade-in {
	from {
		visibility: hidden;
		opacity: 0;
	}
	1% {
		visibility: visible;
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes opacityChange {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes moveTextLeft {
	from {
		transform: translateX(50%);
	}
	to {
		transform: none;
	}
}
@keyframes textTransitionLeft {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: none;
	}
}
@keyframes textTransitionDown {
	from {
		transform: translateY(-50%);
	}
	to {
		transform: none;
	}
}
@keyframes revealText {
	from {
		// clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
		clip-path: polygon(50% 100%, 100% 100%, 100% 100%, 50% 100%);
	}
	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
.move-text-left {
	animation: moveTextLeft 1s 1s ease both;
}

.fade-out {
	animation: fade-out 300ms ease-in-out forwards;
}
@keyframes fade-out {
	from {
		visibility: visible;
		opacity: 1;
	}
	99% {
		visibility: visible;
		opacity: 0;
	}
	to {
		visibility: hidden;
		opacity: 0;
	}
}
@keyframes displayNone {
	from {
		visibility: visible;
		opacity: 1;
	}
	// 99% {
	// 	// visibility: visible;
	// 	// opacity: 0;
	// 	// height: 0;
	// 	// padding: 0;
	// 	// margin: 0;
	// 	// width: 0;
	// 	visibility: visible;
	// 	transform: scale(0.5);
	// }
	to {
		visibility: hidden;
		opacity: 0;
		height: 0;
		padding: 0;
		margin: 0;
		width: 0;
		flex-grow: 0;
		// -webkit-transform: translateZ(0);
		// -moz-transform: translateZ(0);
		// -ms-transform: translateZ(0);
		// -o-transform: translateZ(0);
		// transform: translateZ(0);
		visibility: hidden;
		transform: scale(0, 0.5);
	}
}
.displayNone {
	animation: displayNone 300ms ease-in-out forwards;
}
