.intro {
	@include breakpoint-up(large) {
		display: flex;
		align-items: center;
	}
	&__image {
		border: 1px solid rgba(0, 0, 255, 0.24);
		position: relative;
		//src: https://unsplash.com/photos/TqKFiMR9O6s
		background-image: url('/static/Images/calendar2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		min-height: 17.5rem;
		z-index: -2;
		border-radius: 10px;
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background-size: cover;

			background: linear-gradient(
				to bottom,
				transparent,
				rgba(250, 106, 106, 0.3)
			);
			z-index: -1;
		}
		@include breakpoint-up(large) {
			flex: 3;
			order: 2;

			min-height: 35rem;
		}
	}
	&__text {
		position: relative;
		&.open {
			z-index: -1;
		}
		@include breakpoint-up(large) {
			flex: 2;
			order: 1;
			padding-right: 30px;
			text-align: left;
			padding-bottom: 30px;
		}
		text-align: center;

		p {
			font-weight: 600;
			font-family: 'Open Sans', sans-serif;
			line-height: 2;

			color: rgb(107, 107, 107);
			margin-bottom: 30px;
			font-size: medium;
		}
		h1 {
			font-weight: 800;
			font-family: 'Open Sans', sans-serif;
			font-size: 2.15rem;
			@include breakpoint-up(large) {
				font-size: calc(clamp(3.5em, 6.5vw, 2.4em));
			}
			@include breakpoint-down(medium) {
				font-size: calc(clamp(2.5em, 6.5vw, 2.4em));
			}
			line-height: 1.15;
			color: black;
			margin-bottom: 1.5rem;
		}
	}
	&__cta {
		box-shadow: 0px 4px 14px #f2c973;
		transition: opacity 1000 ms ease-in-out;
		position: relative;
		color: black;
		background: #f2c973;
		opacity: 0.8;
		font-weight: 1000;
		font-family: 'Open Sans', sans-serif;

		&:hover {
			background: #ebba52;
			color: black;
			box-shadow: 0px 4px 14px #e9aa23;
			transition: opacity 1000 ms ease-in-out;
			opacity: 1;
		}
	}
}
