.container {
	min-height: 90vh; /* height of the browser viewport */
}
.Register {
	position: relative;
	color: rgba(0, 132, 255, 0.993);
	font-family: 'Lato', sans-serif;

	border-radius: 1em;
	// background: linear-gradient(to top, #1d7bf5fa, #1d7bf5be);
	// background: linear-gradient(to top, #1d7bf5b7, #1d7bf5c2);
	background: linear-gradient(to top, whitesmoke, white);
	padding: 50px;
	width: 800px;
	height: 500px;

	&__label {
		display: block;
		margin: 10px;
	}
	&__form {
		display: block;
		width: 400px;
	}
	&__Button {
		margin-top: 30px;
		color: white;
		font-size: 25px;
		background: linear-gradient(to top, #1274f5ef, #1d7bf5be);

		width: 400px;
		border-radius: 0.25em;
		&:hover {
		}

		text-align: center;
	}
}
