$font-med: 1.2rem;
$font-small: 0.9rem;
$font-large: 1.3rem;

$darkBlue: hsl(233, 31%, 23%);
$grayishBlue: hsl(235, 6%, 63%);
$veryLightGray: hsla(0, 0%, 98%, 0.89);
$lightGrayishBlue: hsl(220, 24%, 93%);
$gold: #f2c973;
$buttonblue: #3775cb;
//font

//drop down animation values
$time: 0.2s;
$shiftpixel: 8px;
$easeout: cubic-bezier(0.2, 0.9, 0.2, 1.3);
