$darkBlue: hsl(233, 26%, 24%);
$grayishBlue: hsl(233, 8%, 62%);
$veryLightGray: hsl(0, 0%, 98%);
$lightGrayishBlue: hsl(220, 16%, 96%);

//font
$font-med: 1.125rem;
$font-small: 0.875rem;
$font-large: 1.25rem;
