<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename = 'dist/style.css')}}"
		/>
		<link />

		<title>{%block title%} Tasklist {%endblock%}</title>
	</head>
	<body class="body">
		<header class="header">
			<!-- <h1 id="test">hello</h1> -->
			<div class="overlay has-fade"></div>

			<nav class="flex flex-jc-sb flex-ai-c flex-fg-c">
				<a id="buttonNav" href="#" class="header__toggle Tasklist__toggle">
					<span> </span><span></span><span></span>
				</a>
				<h5 id="username" class="Tasklist__username"></h5>
				<a href="logout" class="button header__cta hide-mobile Tasklist__button"
					>Logout</a
				>
			</nav>
			<div class="box flex flex-jc-sb flex-ai-c flex-fg-c webContainer">
				{%block pagetitle%}
				<div class="Tasklist__title">
					<h1>Task List</h1>
				</div>
				{%endblock%}
				<!-- <div class="Tasklist__display">
					<ul>
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
					<h1>hi</h1>
				</div> -->
				{%block cardBox%}

				<ul
					class="nav nav-pills"
					id="pills-tab"
					role="tablist"
					style="margin-top: 20px"
				>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link active"
							id="pills-personalProfile-tab"
							data-bs-toggle="pill"
							data-bs-target="#pills-personalProfile"
							type="button"
							role="tab"
							aria-controls="pills-personalProfile"
							aria-selected="true"
						>
							Personal Profile
						</button>
					</li>
					<li class="nav-item dropdown">
						<button
							class="nav-item nav-link dropdown-toggle"
							id="pills-profile-tab"
							data-toggle="dropdown"
							type="button"
							role="tab"
						>
							Teams
						</button>
						<div class="dropdown-menu">
							<div class="dropdown-divider"></div>
							<!-- <button
								class="nav-link dropdown-item"
								id="pills-personalProfile-tab"
								data-bs-toggle="pill"
								data-bs-target="#pills-personalProfile"
								type="button"
								role="tab"
								aria-controls="pills-personalProfile"
								aria-selected="true"
							>
								Personal Profile
							</button>
							<div class="dropdown-divider"></div>
							<button
								class="nav-link dropdown-item"
								id="pills-Profile-tab"
								data-bs-toggle="pill"
								data-bs-target="#pills-profile"
								type="button"
								role="tab"
								aria-controls="pills-profile"
								aria-selected="true"
							>
								team A
							</button>
							<div class="dropdown-divider"></div> -->
						</div>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div
						class="tab-pane fade show active"
						id="pills-personalProfile"
						role="tabpanel"
						aria-labelledby="pills-personalProfile-tab"
					>
						<div class="cardBox__container">
							<div
								id="tagsList"
								class="row row-cols-1 row-cols-md-3 g-4 webContainer"
							>
								<!-- <div class="col">
								<div class="card h-100">
									<img
										class="card-img-top"
										width="390"
										height="40"
										src="/static/Images/colortag.png"
									/>
									<div class="card-body">
										<h5 class="card-title">finish homework</h5>
										<p class="card-text">Starting date: 2021-12-05</p>
										<p class="card-text">Ending date: 2021-12-07</p>
									</div>
									<form method="POST">
										<input
											class="removeTag"
											type="text"
											id="eventTitle"
											name="eventTitle"
											value="finish homework"
										/>
										<div class="card-footer">
											<button class="btn btn-primary" type="submit">
												Resolve
											</button>
										</div>
									</form>
								</div>
							</div> -->
							</div>
						</div>
					</div>
					<div
						class="tab-pane fade"
						id="pills-profile"
						role="tabpanel"
						aria-labelledby="pills-profile-tab"
						style="position: relative"
					>
						<div class="taskListTabs__title">Click event to resolve</div>
						<div class="list-group taskListTabs__Width">
							<form>
								<button
									type="submit"
									class="list-group-item list-group-item-action taskListTabs__Buttons"
								>
									<h3 class="mb-1">title</h3>

									<small class="mb-2">start:cfdfd end: fdfds</small>
								</button>
							</form>
						</div>
					</div>
					<div
						class="tab-pane fade"
						id="pills-contact"
						role="tabpanel"
						aria-labelledby="pills-contact-tab"
					></div>
				</div>

				{%endblock%}
			</div>
			<div
				class="addEvent__menu addEvent__dashboard Tasklist__dashboard has-fade-db"
			>
				<a
					href="https://github.com/InderbirSGill/CMPE-131-Group-WeTried"
					target="_blank"
					class="header__github"
					id="DBTitleIMG"
					><img
						src="{{url_for('static', filename= 'Images/jinx.png')}}"
						width="60"
						height="50"
						alt="WeTried"
						srcset=""
					/>
					We-Tried</a
				>
				<div style="width: 300px; height: 2px; border: 1px solid gray"></div>
				<ul>
					<li>
						<a href="homepage">
							<i class="bi bi-house-door"></i>
							Homepage
						</a>
					</li>
					<li>
						<a href="calen"> <i class="bi bi-calendar4"></i> Calendar</a>
					</li>
					<li>
						<a href="tasklist"> <i class="bi bi-bookmark"></i>Task List</a>
					</li>
				</ul>
				<div style="width: 300px; height: 2px; border: 1px solid gray"></div>
				<ul id="teams">
					<li>
						<a href="myTeam">
							<i class="bi bi-collection"></i>
							My Teams
						</a>
					</li>
					<li>
						<a href="joinTeam"> <i class="bi bi-diagram-3"></i>Join Teams</a>
					</li>
					<li>
						<a href="createTeam"> <i class="bi bi-people"></i>Create Team</a>
					</li>
				</ul>
				<div style="width: 300px; height: 2px; border: 1px solid gray"></div>
				<ul id="lastList">
					<li>
						<a href="logout"> <i class="bi bi-door-open"></i>Logout</a>
					</li>
				</ul>
				<a id="LLC" href="about">
					<i class="bi bi-chat-right"></i>
					We-tried LLC
				</a>
			</div>
			<iframe name="frame"></iframe>
		</header>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
	</body>

	{%block JS%}

	<script
		type="text/javascript"
		src="{{url_for('static', filename= 'js/tasklist.js')}}"
	></script>

	{%endblock%}
</html>
